/*first black background section*/
.first-section {
 background-color: #171717;
 font-family: 'Source Sans Pro', sans-serif;
}

.intro-links {
 color: white;
 font-size: 50px;
}

.title {
 padding-left: 30%;
 margin-bottom: 0px;
 padding-bottom: 0px;
}

.title:hover {
 background-color: white;
 color: #171717;
}

.subtitle {
 padding-left: 30%;
 margin-top: 0px;
 padding-top: 0px;
 opacity: .3;
 margin-bottom: 0px;
 padding-bottom: 0px;
}

.subtitle:hover {
 opacity: 1;
 color: white;
}

/*email and subscribe boxes*/
.email-box {
 display: flex;
 margin-left: 30%;
}

.email {
 background-color: #171717;
 color: white;
 font-size: 15px;
 border: white 2px solid;
 padding-right: 75px;
}

.gumroad-follow-form-embed { zoom: 1; } .gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after { display: table; line-height: 0; content: ""; } .gumroad-follow-form-embed:after { clear: both; } .gumroad-follow-form-embed * { margin: 0; border: 0; padding: 0; outline: 0; box-sizing: border-box !important; float: left !important; } .gumroad-follow-form-embed input { border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0; font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px; background: #fff; border: 1px solid #ddd; border-right: 0; color: #aaa; padding: 10px; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02); background-position: top right; background-repeat: no-repeat; text-rendering: optimizeLegibility; font-smoothing: antialiased; -webkit-appearance: none; -moz-appearance: caret; width: 65% !important; height: 40px !important; } .gumroad-follow-form-embed button { border-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); -webkit-transition: all .05s ease-in-out; transition: all .05s ease-in-out; display: inline-block; padding: 11px 15px 12px; cursor: pointer; color: #fff; font-size: 15px; line-height: 100%; font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; background: #36a9ae; border: 1px solid white; filter: "progid:http://DXImageTransform.Microsoft.gradient(startColorstr=#5ccfd4, endColorstr=#329ca1, GradientType=0)"; background: -webkit-linear-gradient(black, #171717); background: linear-gradient(to bottom, black, #171717); height: 40px !important; width: 35% !important; }  

.submit-button {
 background-color: white;
 color: #171717;
 border: none;
 font-size: 15px;
 border: white 2px solid;
 padding-top: 4px;
 padding-bottom: 4px;
}

/*social media links
*/
.social-links {
 display: flex;
 background-color: wheat;
}

.twitter-box {
 width: 3%;
 margin-left: 30%;
}

.twitter {
 width: 100%;
 background-color: thistle;
}

.instagram-box {
 width: 3%;
 padding-left: 10px ;
 margin-right: 0px;
 padding-right: 0px;
}

.instagram {
 width: 90%;
 background-color: salmon;
}

.email-logo-box {
 width: 20%;
 padding-left: 0px;
 margin-left: 0px;
 background-color: greenyellow;
}

.email {
 width: 100%;
 background-color: greenyellow;
}

/*second section*/
.second-section {
 font-family: 'Source Sans Pro', sans-serif;
}

.goal-title {
 display: flex;
 margin-left: 1%;
}

.line {
 border-bottom: solid black 1.5px;
 width: 40px;
 height: 25px;
 margin-left: 1%;
}

.goal-body {
 margin-left: 20%;
}

.goal-subtitle {
 width: 35%;
 font-size: 30px;
}

.goal-text {
 font-size: 20px;
}

.goal-text2 {
 margin-bottom: 0px;
 width: 75%;
 font-size: 20px;
}

.welcome {
 margin-top: 7px;
 font-weight: bold;
 font-size: 20px;
}

/*third section*/
.third-section {
 background-color: black;
 font-family: 'Source Sans Pro', sans-serif;
}

.one-title {
 color: white;
 display: flex;
 margin-left: 1%;
}

.line2 {
 border-bottom: solid white 1.5px;
 width: 40px;
 height: 25px;
 margin-left: 1%;
}

.newsletter-body {
 margin-left: 20%;
}

.newsletter-subtitle {
 color: white;
 width: 50%;
 font-size: 30px;
 margin-bottom: 0px;
}

.newsletter-subtitle2 {
 color: white;
 margin-top: 0px;
 font-weight: bold;
 font-size: 20px;
}

.white {
 color: white;
}

.enter {
 font-weight: lighter;
 font-size: 20px;
}

.subscribe2 {
 padding-left: 5%;
 padding-right: 5%;
 padding-top: 4px;
 padding-bottom: 4px;
 font-size: 20px;
}

.email-box2 {
 display: flex;
 margin-left: 20%;
}

.email-subtext {
 margin-left: 20%;
 margin-top: 0px;
 font-size: 12px;
}

.connected {
 margin-left: 20%;
 text-decoration: none;
 font-weight: bold;
 font-size: 18px;
 padding-bottom: 75px;
 font-size: 20px;
}
